@page
@model PrivacyModel
@{
    ViewData["Title"] = "Dziękuję że mnie kliknąłeś";
}
<audio id="myAudio" src="/GigaBlogMuzyka.mp3" autoplay></audio>

<center>

    <img src="/GigaBlogLogo.jpg" onclick="playAudio()" height="1000px" width="1000px" />
    <h1 style="font-weight:bold; text-shadow: 5px 5px 10px black;">@ViewData["Title"]</h1>
</center>



<script>
    function playAudio() {
        var audioElement = document.getElementById("myAudio");
        if(audioElement.paused)
        {
            audioElement.play();
        }
        else
        {
            audioElement.pause();
        }
 
    }
</script>