@page
@model PrivacyModel
@{
    ViewData["Title"] = "You are awesome! Have a nice day!";
}
<audio id="myAudio" src="/GigaBlogMuzyka.mp3" autoplay></audio>

<center>
    <h1 style="font-weight:bold; text-shadow: 5px 5px 10px black;">@ViewData["Title"]</h1>
    <img style="border-radius: 16px" src="/GigaBlogGif.gif" onclick="playAudio()" height="800px" width="1000px" />
    
</center>



<script>
    function playAudio() {
        var audioElement = document.getElementById("myAudio");
        if(audioElement.paused)
        {
            audioElement.play();
        }
        else
        {
            audioElement.pause();
        }
 
    }
</script>